.chat-container {
    display: flex;


}

.room-title {
    position: absolute;
    top: 0;
    left: 400px;
    font-size: 30px;
    font-weight: bold;
    color: #000000;
    font-family: Garamond, serif;
    padding: 10px 15px;

    border-radius: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.2);
    width: 850px;
    margin-bottom: 2;
    height: 60px;
    display: flex;
    gap: 20px;
    background-color: #d0fffb;
    margin-top:10px;

}

.chat-area {
    width: 900px;
    height: 600px;
    padding: 20px;
    border-radius: 8px;
    box-sizing: border-box;
}

.room-name-icon {
    width: 20px;
    height: 20px;
    margin-top: 20px;
    font-size: 20px;
}

.selected-room-description {
    font-size: 20px;
    font-style: italic;
    font-weight: 100;
}

.messages {

    padding: 10px;
    border-radius: 8px;
    margin-top: 80px;



}

.message {
    padding: 10px;



    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.message-input {

    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: fixed;
    bottom: 0;
    border: 1px solid;

}

.message-input-field {
    width: 800px;
    padding: 10px;

    font-size: 20px;
    font-weight: 100;
    font-family: Garamond, serif;
}

.whatsapp {
    display: flex;
    flex-direction: column;
    gap: 10px;

}

.sender {
    font-size: 15px;
    font-weight: 100;
    color: #373535;
    font-family: Garamond, serif;


}

.text {


    padding: 10px;
    background-color: #f1f1f1;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    font-weight: bold;
    font-size: 20px;
    border: hidden;
}

.timestamp {
    font-size: 10px;
    font-weight: 100;
    color: #909090;
    font-family: Garamond, serif;
    margin-left: 2px;
}

.dot {
    margin: 0 5px;
    color: #909090;
    font-size: 10px;
    vertical-align: middle;
}

.send-button {
    width: 50px;
    background-color: #d0fffb;
    border: hidden;

}

.member-list-header {

    background-color: #f1f1f1;
    display: flex;
    justify-items: center;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.member-list-title {
    font-size: 20px;
    margin-bottom: 12px;
    font-weight: bold;
}

.member {

    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;
    margin-right: 10px;

}

.member-username {
    font-size: 20px;
    font-weight: bold;
    font-family: Garamond, serif;

}

:root {
    --color-1: #ffe4e1;
    /* Misty Rose */
    --color-2: #e6e6fa;
    /* Lavender */
    --color-3: #f0fff0;
    /* Honeydew */
    --color-4: #fafad2;
    /* Light Goldenrod Yellow */
    --color-5: #f5f5dc;
    /* Beige */
}

.messages .message:nth-child(5n+1) .text {
    background-color: var(--color-1);
}

.messages .message:nth-child(5n+2) .text {
    background-color: var(--color-2);
}

.messages .message:nth-child(5n+3) .text {
    background-color: var(--color-3);
}

.messages .message:nth-child(5n+4) .text {
    background-color: var(--color-4);
}

.messages .message:nth-child(5n+5) .text {
    background-color: var(--color-5);
}

.no-room {
    margin: auto;
    text-align: center;
    margin-left: 400px;
    font-weight: 900;

}

@media (max-width: 768px) {
    .sidebar-container {
        position: fixed;
        top: 0;
        left: -100%;
        width: 250px;
        height: 100%;
        background-color: #ccffff;
        transition: left 0.3s ease;
        z-index: 1000;
    }

    .member-list {
        display: none;
    }

    .room-title {
        display: none;
    }

    .message-input-field {
        width: 100px;
        padding: 10px;

        font-size: 20px;
        font-weight: 100;
        font-family: Garamond, serif;
    }
}